:root {
  --bg-color: #f4f4f4;
  --text-color: #fffff9;
  --border-color: #ccc;
  --color-green: #218838;
  --color-orange: #ff9800;
  --color-red: #c82333;
  --button-hover: brightness(90%);
  --button-padding: 8px;
  --border-radius: 4px;
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg-color);
  margin: 0;
  padding: 0;
}

.todo-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: var(--text-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

h1 {
  text-align: center;
  color: #333;
}

/* Form and Input Styling */
.add-task,
.task-buttons,
.task-actions {
  display: flex;
  align-items: center;
}

.add-task {
  gap: 10px;
}

.task-buttons,
.task-actions {
  gap: 5px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
}

input:focus {
  /* box-shadow: none; */
  border-color: var(--color-green);
  box-shadow: 0 0 5px rgba(33, 136, 56, 0.3);
}

/* Buttons */
button {
  padding: var(--button-padding);
  border: none;
  color: var(--text-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s, filter 0.2s;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  transform: scale(1.05);
}

.add-button {
  background: var(--color-green);
}

.clear-button,
.delete-button {
  background: var(--color-red);
}

.complete-button {
  background: var(--color-green);
}

.clear-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Task List */
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid var(--border-color);
}

li:last-child {
  border-bottom: none;
}

.completed-task {
  text-decoration: line-through;
  color: #888;
}

/* Error Message */
.error {
  text-align: center;
  color: #dc3545;
  font-weight: bold;
}

/* Priorities */
.priority-select {
  appearance: none;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border: none;
  height: 40px;
}

.priority-select option {
  color: var(--text-color);
}

.priority-select option[value="High"] {
  background-color: var(--color-red);
}

.priority-select option[value="Medium"] {
  background-color: var(--color-orange);
}

.priority-select option[value="Low"] {
  background-color: var(--color-green);
}

.priority {
  font-size: 12px;
  font-weight: bold;
  color: var(--text-color);
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  margin-left: 10px;
}

.priority-high {
  background-color: var(--color-red);
}

.priority-medium {
  background-color: var(--color-orange);
}

.priority-low {
  background-color: var(--color-green);
}
